{{ if where .Pages ".Params.province" "Durban" }}
<div class="provience-events" style="padding-top: 2.5%;">
    <hr>
    <h2 style="margin-bottom: 4%;">Durban</h2>
    <ul>
        {{ range where .Pages ".Params.province" "Durban" }}
        <!--Checks params to see if course finished-->
        {{ if .Params.course_finished}}
        {{else}}
        <li>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p style="margin: 15px 0!important;"> {{ .Params.description }} </p>
            <p>{{ .Params.course_date }}, {{.Params.venue}}, {{.Params.province}}</p>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</div>
{{end}}