<header class="masthead" style="background-image: url('{{ .Site.Params.headerImage | absURL}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
                    {{ if eq .Type "course" }}
                    <p>{{ dateFormat "2006-01-02" .Date }}</p>
                    {{ else }}
                    <p></p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</header>