<!-- create current date as a variable -->
{{$d := ( now.Format "2006-01-02")}}

<div id="hide" class="event">
    <h1 style="text-align: center; padding-bottom: 3%; padding-top: 10%;">Previous Courses</h1>
    <hr>
    <h2 style="margin-bottom: 4%;">Cape Town</h2>
    {{ range (where .Pages ".Params.type" "course").Reverse }}
    <!--Checks params to see if the expiry date is less(before) than the current date -->
    {{ if lt .Params.expiry_date $d }}
    <ul>
        <li>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <!-- <p style="margin: 15px 0!important;"> {{ .Params.description }} </p> -->
            <p>{{ .Params.course_date }}, {{.Params.venue}}, {{.Params.province}}</p>
        </li>
    </ul>
    {{ end }}
    {{ end }}
</div>
