{{ range where .Pages ".Params.type" "course" }}
{{ if .Params.course_finished}}
<div class="event">
    <h1 style="text-align: center; padding-bottom: 3%; padding-top: 10%;">Previous Courses</h1>
    <hr>
    <ul>
        <li>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p style="margin: 15px 0!important;"> {{ .Params.description }} </p>
            <p>{{ .Params.course_date }}, {{.Params.venue}}, {{.Params.province}}</p>
        </li>
    </ul>
</div>
{{end}}
{{end}}