{{ define "main" }}

<div class="container event">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 style="text-align: center;">Upcoming Courses</h1>  

            {{ partial "durban.html" .}}

            {{ partial "cape_town.html" .}}
            
            {{ partial "johannesburg.html" .}}
            
            <h1 style="text-align: center; padding-bottom: 3%; padding-top: 10%;">Previous Courses</h1>
            <hr>
            {{ partial "past_courses.html" .}}
            
        </div>
    </div>
</div>

{{ end }}